# info found in the printer's menu
PRINTERS = [
    dict(name='p1s1', display_name='', serial='', printer_ip='', access_code=''),
    dict(name='p1s2', display_name='', serial='', printer_ip='', access_code=''),
]

