// Settings
const char* wifiSSID = "";
const char* wifiPassword = "";
const char* spaceportToken = "";  // Set the access token generated in the Spaceport secrets.py file
const char* messagePrefix = "[Security system] ";  // Set a prefix for all messages
